<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
</head>
<body>
<h1>Ping Result</h1>

<h1>Find Ping Result by ID</h1>
<form th:action="@{/ping}" method="get" th:object="${searchIp}">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" th:field="*{ip}" required>
    <button type="submit">Search</button>
</form>

<table>
    <tr>
        <th>IP Address</th>
        <td th:text="${pingResult.getIpAddress()}"></td>
    </tr>
    <tr>
        <th>Domain Name</th>
        <td th:text="${pingResult.getDomainName()}"></td>
    </tr>
    <tr>
        <th>Check Date</th>
        <td th:text="${pingResult.getTestDate()}"></td>
    </tr>
    <tr>
        <th>Status</th>
        <td th:text="${pingResult.getStatus()}"></td>
    </tr>
    <tr>
        <th>Ping Result</th>
        <td th:text="${pingResult.getPingResult()}"></td>
    </tr>
</table>
</body>
</html>